.horizontal-slider {
    width: 100%;
    max-width: 500px;
    height: 50px;
    margin: auto;
  }
  .example-thumb { 
    width:30px;
    height:30px;
    cursor: pointer;
    /* position: absolute;
    top:5px;
    left:2; */
    z-index: 100;
    background: #523da8;
    border: 1px solid #523da8;
    border-radius: 50%;
    display: block;

    color:white;
    font-size: 20px;
   }
  .example-mark {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: .1px solid rgb(150, 148, 148);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 50%;
    vertical-align: middle;
    font-size: 20px;
  }
  .example-mark .example-mark-active {
    border: 2px solid #00d4ff;
    background-color: rgb(255, 255, 255);
  }
  .example-mark .example-mark-completed {
    border: 2px solid black;
    background-color: #523da8;
  } 
  
  .example-track {
    position: relative;
    background: #ddd;
  }
  .example-track.example-track-0 {
    background: #523da8;
  }
  .horizontal-slider .example-track {
    top: 12px;
    left:0px;
    height: 4px;
  }
  